@import '../variable.less';
.footer{
  width:100%;
  height:200px;
  display:flex;
  justify-content: center;
  align-content: center;
  .footer_cont{
   text-align: center;
    width:@commonWidth;
    .line1{
      line-height:50px;
    }
    .line1 span{
      margin:0 10px;
    }
  }
}
