@import '../variable.less';
.wrap{

.cbanner{
  width:100%;
  height:300px;
  display: flex;
  justify-content:center;
  .cbanner_cont{
    height:100%;
    background: gainsboro;
  }
}
.ctest{
  width:100%;
  height:200px;
  line-height:200px;
  display: flex;
  justify-content:center;
  padding:10px 0;
  .ctest_cont{
    height:100%;
    background: aliceblue;
  }
}
.cvideo{
  width:100%;
  height:60px;
  line-height:60px;
  .cvideo_cont{
    height:100%;
    margin:0 auto;
  }
}
.ctemplate{
  width:100%;
  height:60px;
  line-height:60px;
  .ctemplate_cont{
    height:100%;
    margin:0 auto;
  }
}
.conline{
  width:100%;
  height:60px;
  line-height:60px;
  .conline_cont{
    height:100%;
    margin:0 auto;
  }
}
.cdevelop{
  width:100%;
  height:60px;
  line-height:60px;
  .cdevelop_cont{
    height:100%;
    margin:0 auto;
  }
}
.countdown{
  width:100%;
  height:60px;
  line-height:60px;
  .countdown_cont{
    height:100%;
    margin:0 auto;
  }
}
.cfooter{
  position:absolute;
  bottom:0;
}
}
