@import '../variable.less';
.wrap{

.cbanner{
  width:100%;
  height:300px;
  display: flex;
  justify-content:center;
  .cbanner_cont{
    height:100%;
    background: gainsboro;
  }
}
.ctest{
  width:100%;
  height:200px;
  line-height:200px;
  display: flex;
  justify-content:center;
  padding:10px 0 0 0;
  .ctest_cont{
    height:100%;
    background: aliceblue;
  }
}
.cvideo{
  width:100%;
  height:300px;
  display: flex;
  justify-content:center;
  padding:10px 0 0 0;
  .cvideo_cont{
    height:100%;
    background: antiquewhite;
  }
}
.ctemplate{
  width:100%;
  height:200px;
  display: flex;
  justify-content:center;
  padding:10px 0 0 0;
  .ctemplate_cont{
    height:100%;
    background: azure;
  }
}
.conline{
  width:100%;
  height:200px;
  display: flex;
  justify-content:center;
  padding:10px 0 0 0;
  .conline_cont{
    height:100%;
    background: bisque;
  }
}
.cdevelop{
  width:100%;
  height:200px;
  display: flex;
  justify-content:center;
  padding:10px 0 0 0;
  .cdevelop_cont{
    height:100%;
   background: beige;
  }
}
.countdown{
  width:100%;
  height:60px;
  line-height:60px;
  display: flex;
  justify-content:center;
  padding:10px 0 10px 0;
  .countdown_cont{
    height:100%;
    background: azure;
  }
}
.cfooter{
  background: darkgray;
  display: flex;
  justify-content:center;
  align-content: center;
}
}
