#app{
  .wrap{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    .cheader{
      border-bottom:1px solid #efefef;
    }
    .main{
      flex:1;
      display: flex;
      .csubmenu{

      }
      .content{
        flex:1;
        background: darkgray;
      }
    }
  }
}

